[submodule "sb-twitter-feed-widget"]
	path = sb-twitter-feed-widget
	url = https://github.com/conwabueze/sb-twitter-feed-widget
[submodule "sb-tradingview-symbolinfo-widget"]
	path = sb-tradingview-symbolinfo-widget
	url = https://github.com/conwabueze/sb-tradingview-symbolinfo-widget
