[submodule "sb-twitter-feed-widget"]
	path = sb-twitter-feed-widget
	url = https://github.com/conwabueze/sb-twitter-feed-widget
[submodule "sb-tradingview-symbolinfo-widget"]
	path = sb-tradingview-symbolinfo-widget
	url = https://github.com/conwabueze/sb-tradingview-symbolinfo-widget
[submodule "sb-aa-widget"]
	path = sb-aa-widget
	url = https://github.com/conwabueze/sb-aa-widget
[submodule "sb-embed-code-widget"]
	path = sb-embed-code-widget
	url = https://github.com/conwabueze/sb-embed-code-widget
[submodule "sb-vid-embed-ex"]
	path = sb-vid-embed-ex
	url = https://github.com/conwabueze/sb-vid-embed-ex
[submodule "sb-weather-widget"]
	path = sb-weather-widget
	url = https://github.com/conwabueze/sb-weather-widget
[submodule "sb-scrolling-banner"]
	path = sb-scrolling-banner
	url = https://github.com/conwabueze/sb-scrolling-banner
